<div style="padding: 77px;">
    <h1 class="text-center">Aggiungi Provincia</h1>
<form>
    <div class="mb-3">
        <label class="form-label">Nome Provincia</label>
        <input type="text" [(ngModel)]="provincia.nome" name="nome" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">Sigla</label>
        <input type="text" [(ngModel)]="provincia.sigla" name="sigla" class="form-control">
    </div>
    <button type="button" class="btn btn-primary" (click)="addProvincia()">Aggiungi</button>
</form>
</div>
