.card-header{
    border: 1px solid cornflowerblue;
    background-color: rgb(146, 220, 223);
}
.card-body{
    border: 1px solid cornflowerblue;
    background-color: rgb(188, 241, 243);
}
.btn{
    border: 1px solid rgba(12, 69, 101, 0.8);
    background:  cadetblue;
    color: white;
}
