<div class="my-3">
    <h3 class="text-center">Modifica fattura</h3>
    <form>
        <div class="mb-3">
            <label  class="form-label">Numero fattura</label>
            <input type="text" [(ngModel)]="fattura.numero" name="numero_fattura" class="form-control"  placeholder="Numero fattura">
        </div>
        <div class="mb-3">
            <label  class="form-label">Importo</label>
            <input type="text" [(ngModel)]="fattura.importo" name="importo_fattura" class="form-control"  placeholder="Importo">
        </div>
        <div class="mb-3">
            <label  class="form-label">Data</label>
            <input type="text" [(ngModel)]="fattura.data" name="data_fattura" class="form-control"  placeholder="Data">
        </div>
        <div class="mb-3">
            <label  class="form-label">Anno</label>
            <input type="text" [(ngModel)]="fattura.anno" name="anno_fattura" class="form-control"  placeholder="Anno">
        </div>
        <div class="mb-3">
            <label  class="form-label">Stato</label>
            <select class="form-select"  [(ngModel)]="fattura.stato" name="stato_fattura" [ngModelOptions]="{standalone: true}">
                <option [ngValue]="item" *ngFor="let item of fatture"> {{item.nome}}</option>
              </select>
        </div>
        <button type="button" class="form-control btn btn-secondary" (click)="update()">Modifica</button>
    </form>
</div>